**~
**.orig
**.o
**.d
**.a
**.cpre
**.mpeg
**.log
**.ex
**.cubin
**.out
**.dummy

# Docs
**.aux
**.bbl
**.blg
**.dvi
**.ps
**.eps
**.pdf
**.log

# Ignore files starting with # and .#
syntax: regexp
**\\#*

# Exclude VS code
**.vscode

# Exclude doxygen output
syntax: regexp
**doc/html
**doc/latex

# Exclude binaries in test
**/test/**
!**/test/*.*
!**/test/GNUmakefile

# Exclude build directory
build/
